<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category_name</key>
		<string>美食</string>
		<key>icon</key>
		<string>icon_homepage_foodCategory</string>
		<key>subcategories</key>
		<array>
			<dict>
				<key>category_name</key>
				<string>江浙菜</string>
				<key>subcategories</key>
				<array>
					<string>上海菜</string>
					<string>淮扬菜</string>
					<string>浙江菜</string>
					<string>杭帮菜</string>
					<string>南京菜</string>
					<string>苏帮菜</string>
					<string>宁波菜</string>
					<string>绍兴菜</string>
					<string>无锡菜</string>
					<string>舟山菜</string>
					<string>衢州菜</string>
					<string>温州菜</string>
					<string>苏北土菜</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>粤菜</string>
				<key>subcategories</key>
				<array>
					<string>潮汕菜</string>
					<string>茶餐厅</string>
					<string>客家菜</string>
					<string>湛江菜</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>川菜</string>
				<key>subcategories</key>
				<array>
					<string>自贡盐帮菜</string>
					<string>江湖菜</string>
					<string>酸菜鱼</string>
					<string>香锅</string>
					<string>川味小吃</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>湘菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>北京菜</string>
				<key>subcategories</key>
				<array>
					<string>北京家常菜</string>
					<string>官府菜</string>
					<string>烤鸭</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>东北菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>云贵菜</string>
				<key>subcategories</key>
				<array>
					<string>云南菜</string>
					<string>贵州菜</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>湖北菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>江西菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>山西菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>蒙古菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>徽菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>闽菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>鲁菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>豫菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>贵州菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>广西菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>台湾菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>冀菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>陕西菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>天津菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>青海菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>西北菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>西藏菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>新疆菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>东南亚菜</string>
				<key>subcategories</key>
				<array>
					<string>泰国菜</string>
					<string>越南菜</string>
					<string>印度菜</string>
					<string>新加坡菜</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>西餐</string>
				<key>subcategories</key>
				<array>
					<string>法国菜</string>
					<string>意大利菜</string>
					<string>西班牙菜</string>
					<string>俄罗斯菜</string>
					<string>中东菜</string>
					<string>西式正餐</string>
					<string>西式简餐</string>
					<string>巴西烧烤</string>
					<string>无国界料理</string>
					<string>牛排</string>
					<string>比萨</string>
				</array>
			</dict>
			<dict>
				<key>category_name</key>
				<string>日本</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>韩国</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>火锅</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>清真菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>小吃快餐</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>农家菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>创意菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>海鲜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>素菜</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>烧烤</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>自助餐</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>面包甜点</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>酒吧</string>
				<key>subcategories</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>购物</string>
		<key>icon</key>
		<string>icon_homepage_entertainmentCategory</string>
		<key>subcategories</key>
		<array>
			<dict>
				<key>category_name</key>
				<string>服饰鞋包</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>珠宝饰品</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>化妆品</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>运动户外</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>儿童服饰</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>玩具</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>亲子购物</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>品牌折扣店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>家具</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>家居建材</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>书店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>眼镜店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>办公</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>超市</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>便利店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>药店</string>
				<key>subcategories</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>丽人</string>
		<key>icon</key>
		<string>icon_homepage_beautyCategory</string>
		<key>subcategories</key>
		<array>
			<dict>
				<key>category_name</key>
				<string>美发</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>化妆品</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>瘦身纤体</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>美甲</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>瑜伽</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>舞蹈</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>写真</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>整形</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>齿科</string>
				<key>subcategories</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>结婚</string>
		<key>icon</key>
		<string>icon_homepage_lotteryCategory</string>
		<key>subcategories</key>
		<array>
			<dict>
				<key>category_name</key>
				<string>婚纱摄影</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>婚戒首饰</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>婚纱礼服</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>婚庆公司</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>彩妆造型</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>司仪主持</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>婚礼跟拍</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>婚车租赁</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>婚礼小商品</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>婚房装修</string>
				<key>subcategories</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>酒店</string>
		<key>icon</key>
		<string>icon_homepage_hotelCategory</string>
		<key>subcategories</key>
		<array>
			<dict>
				<key>category_name</key>
				<string>五星级酒店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>四星级酒店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>三星级酒店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>经济型酒店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>公寓式酒店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>精品酒店</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>青年旅舍</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>度假村</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>农家院</string>
				<key>subcategories</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>休闲娱乐</string>
		<key>icon</key>
		<string>icon_homepage_KTVCategory</string>
		<key>subcategories</key>
		<array>
			<dict>
				<key>category_name</key>
				<string>茶馆</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>KTV</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>美术展览</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>演出票务</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>公园</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>景点郊游</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>足疗按摩</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>洗浴</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>游乐游艺</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>桌面游戏</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>DIY手工坊</string>
				<key>subcategories</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>运动健身</string>
		<key>icon</key>
		<string>icon_homepage_movieCategory</string>
		<key>subcategories</key>
		<array>
			<dict>
				<key>category_name</key>
				<string>瑜伽</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>游泳馆</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>羽毛球馆</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>健身中心</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>篮球场</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>足球场</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>高尔夫场</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>保龄球馆</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>乒乓球馆</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>武术场馆</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>壁球馆</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>攀岩馆</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>射箭馆</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>骑马场</string>
				<key>subcategories</key>
				<array/>
			</dict>
			<dict>
				<key>category_name</key>
				<string>溜冰场</string>
				<key>subcategories</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category_name</key>
		<string>汽车服务</string>
		<key>icon</key>
		<string>icon_homepage_travellingCategory</string>
		<key>subcategories</key>
		<array/>
	</dict>
	<dict>
		<key>category_name</key>
		<string>生活服务</string>
		<key>icon</key>
		<string>icon_homepage_lifeServiceCategory</string>
		<key>subcategories</key>
		<array/>
	</dict>
</array>
</plist>
