<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_4.png</string>
		<key>name</key>
		<string>购物</string>
		<key>subcategories</key>
		<array>
			<string>生活家居</string>
			<string>服饰鞋包</string>
			<string>食品饮料</string>
			<string>钟表眼镜</string>
			<string>水果生鲜</string>
			<string>母婴亲子</string>
			<string>数码家电</string>
			<string>影音书刊</string>
			<string>个护化妆</string>
			<string>珠宝饰品</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_1.png</string>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>陕菜/西北菜</string>
			<string>云南菜</string>
			<string>素菜</string>
			<string>台湾菜</string>
			<string>客家菜</string>
			<string>淮扬菜</string>
			<string>赣菜</string>
			<string>海南菜</string>
			<string>豫菜</string>
			<string>广西菜</string>
			<string>贵州菜</string>
			<string>北京菜</string>
			<string>内蒙菜</string>
			<string>江西菜</string>
			<string>晋菜</string>
			<string>茶餐厅</string>
			<string>冀菜</string>
			<string>闽菜</string>
			<string>天津菜</string>
			<string>创意菜</string>
			<string>日韩料理</string>
			<string>小吃快餐</string>
			<string>海鲜</string>
			<string>鲁菜</string>
			<string>湖北菜</string>
			<string>徽菜</string>
			<string>烧烤</string>
			<string>东南亚菜</string>
			<string>东北菜</string>
			<string>新疆/清真</string>
			<string>本帮江浙菜</string>
			<string>咖啡厅</string>
			<string>青海菜</string>
			<string>火锅</string>
			<string>西餐</string>
			<string>面包甜点</string>
			<string>粤菜</string>
			<string>川菜</string>
			<string>湘菜</string>
			<string>自助餐</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_2.png</string>
		<key>name</key>
		<string>休闲娱乐</string>
		<key>subcategories</key>
		<array>
			<string>运动健身</string>
			<string>酒吧</string>
			<string>KTV</string>
			<string>游乐游艺</string>
			<string>温泉/浴场</string>
			<string>文化艺术</string>
			<string>公园</string>
			<string>桌游/密室</string>
			<string>DIY手工坊</string>
			<string>足疗按摩</string>
			<string>景点郊游</string>
			<string>咖啡厅</string>
			<string>茶馆</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_5.png</string>
		<key>name</key>
		<string>抽奖</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_22.png</string>
		<key>name</key>
		<string>丽人</string>
		<key>subcategories</key>
		<array>
			<string>化妆品</string>
			<string>整形</string>
			<string>瘦身纤体</string>
			<string>齿科</string>
			<string>个性写真</string>
			<string>美容/SPA</string>
			<string>美甲</string>
			<string>美发</string>
			<string>瑜伽</string>
			<string>舞蹈</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_default.png</string>
		<key>name</key>
		<string>结婚</string>
		<key>subcategories</key>
		<array>
			<string>婚纱摄影</string>
			<string>成衣定制</string>
			<string>婚纱礼服</string>
			<string>婚庆公司</string>
			<string>彩妆造型</string>
			<string>司仪主持</string>
			<string>婚车租赁</string>
			<string>婚礼跟拍</string>
			<string>婚戒首饰</string>
			<string>婚礼小商品</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_20.png</string>
		<key>name</key>
		<string>酒店</string>
		<key>subcategories</key>
		<array>
			<string>经济型酒店</string>
			<string>公寓式酒店</string>
			<string>四星级酒店</string>
			<string>三星级酒店</string>
			<string>五星级酒店</string>
			<string>度假村</string>
			<string>客栈旅舍</string>
			<string>青年旅舍</string>
			<string>农家院</string>
			<string>精品酒店</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_3.png</string>
		<key>name</key>
		<string>亲子</string>
		<key>subcategories</key>
		<array>
			<string>亲子摄影</string>
			<string>亲子游乐</string>
			<string>亲子购物</string>
			<string>幼儿教育</string>
			<string>孕产护理</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_3.png</string>
		<key>name</key>
		<string>生活服务</string>
		<key>subcategories</key>
		<array>
			<string>医院</string>
			<string>培训</string>
			<string>快照打印</string>
			<string>宠物服务</string>
			<string>爱车</string>
			<string>洗衣店</string>
			<string>机场</string>
			<string>搬家</string>
			<string>小区/商务楼</string>
			<string>公交车</string>
			<string>加油站</string>
			<string>学校</string>
			<string>交通</string>
			<string>团购网站</string>
			<string>家政服务</string>
			<string>银行</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_3.png</string>
		<key>name</key>
		<string>家装</string>
		<key>subcategories</key>
		<array>
			<string>饰后服务</string>
			<string>窗帘软装</string>
			<string>灯饰照明</string>
			<string>成品家具</string>
			<string>衣柜移门</string>
			<string>墙地面材料</string>
			<string>门窗楼梯</string>
			<string>厨卫装修</string>
			<string>空调地暖</string>
			<string>管线开关</string>
			<string>装修设计</string>
		</array>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_99.png</string>
		<key>name</key>
		<string>电影</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_filter_category_78.png</string>
		<key>name</key>
		<string>旅游</string>
	</dict>
</array>
</plist>
