<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>默认排序</string>
	<string>价格最低</string>
	<string>价格最高</string>
	<string>人气最高</string>
	<string>最新发布</string>
	<string>即将结束</string>
	<string>离我最近</string>
</array>
</plist>
